body {
  margin: 0;
  padding: 0;
  background: #666666;
  color: #fff;
  font: 13px/1.2em Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body *,
body *:before,
body *:after {
  box-sizing: inherit;
}

.red {
  color: #ec1b24;
}

.hidden {
  display: none;
}

.booking-form-wrapper {
  padding: 40px 40px 10px;
  min-height: 100%;
}

.booking-form-wrapper .booking-form.success .user-data-wrapper,
.booking-form-wrapper .booking-form.success .submit {
  display: none;
}

.booking-form-wrapper .booking-form.success .choise-ticket td.td-name {
  width: 300px;
  padding-right: 35px;
}

.booking-form-wrapper .booking-form.success .choise-ticket td.td-number .number-wrapper .choise-number {
  display: none;
}

.booking-form-wrapper .booking-form.success .choise-ticket td.td-number .number-wrapper .result-choise {
  display: block;
  font-weight: bold;
}

.booking-form-wrapper .booking-form>fieldset {
  border: 0 none;
  margin: 0;
  padding: 30px 0px;
}

.booking-form-wrapper .booking-form>fieldset~fieldset {
  border-top: 1px solid #7d7d7d;
}

.booking-form-wrapper .booking-form>fieldset.submit-wrapper {
  padding-top: 20px;
}

.booking-form-wrapper .booking-form>fieldset.submit-wrapper p {
  color: #b3b3b3;
}

.booking-form-wrapper .booking-form>fieldset.submit-wrapper p a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin-left: 10px;
}

.booking-form-wrapper .booking-form>fieldset.submit-wrapper p a:focus {
  outline: 0 none;
  box-shadow: none;
  text-decoration: underline;
}

.booking-form-wrapper .booking-form>fieldset.submit-wrapper p.result {
  font-size: 22px;
  line-height: 50px;
  color: #fff;
}

.booking-form-wrapper .booking-form>fieldset.submit-wrapper p.result .price {
  font-weight: bold;
}

.booking-form-wrapper .booking-form>fieldset.user-data-wrapper {
  padding-bottom: 5px;
}

.booking-form-wrapper .booking-form>fieldset h1 {
  margin: 0;
  padding: 0 80px 20px 0;
  font-size: 26px;
}

.booking-form-wrapper .booking-form>fieldset h1+p {
  font-size: 17px;
  padding-bottom: 10px;
}

.booking-form-wrapper .booking-form>fieldset p {
  margin: 0;
}

.booking-form-wrapper .booking-form .choise-ticket {
  width: 100%;
  border: 0 none;
  border-spacing: 0;
  padding: 0;
  margin-top: 20px;
}

.booking-form-wrapper .booking-form .choise-ticket td {
  padding: 0;
  vertical-align: middle;
}

.booking-form-wrapper .booking-form .choise-ticket td.td-name {
  width: 400px;
  padding-right: 40px;
}

.booking-form-wrapper .booking-form .choise-ticket td.td-number .number-wrapper {
  overflow: hidden;
}

.booking-form-wrapper .booking-form .choise-ticket td.td-number .number-wrapper .choise-number {
  float: left;
  margin-right: 45px;
}

.booking-form-wrapper .booking-form .choise-ticket td.td-number .number-wrapper p {
  margin: 5px 0;
  font-size: 17px;
}

.booking-form-wrapper .booking-form .choise-ticket td.td-number .number-wrapper .result-choise {
  display: none;
}

.booking-form-wrapper .booking-form .choise-ticket td.td-number .number-wrapper .price-descr {
  visibility: visible;
  color: #b3b3b3;
}

.booking-form-wrapper .booking-form .choise-ticket td.td-number .number-wrapper .price-descr.hide {
  visibility: hidden;
}

.booking-form-wrapper .booking-form .choise-ticket td.td-number .number-wrapper .result {
  visibility: visible;
  margin-top: 10px;
}

.booking-form-wrapper .booking-form .choise-ticket td.td-number .number-wrapper .result.hide {
  visibility: hidden;
}

.booking-form-wrapper .booking-form .choise-ticket td.td-number .number-wrapper .price {
  font-weight: bold;
}

.booking-form-wrapper .remove-item {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border: 0 solid;
  border-radius: 2px;
  background: #fdac2a url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAfCAYAAAAfrhY5AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQ1JREFUeNq8lzEOgkAQRWcpsfAgHsCayht4DU+jd9B4ASs7o43xCDZWVhba4l+zBeoCO8PMkjwIkPAezWzW1XU9IqIlWIAH5TkqMC1wegV2YJxJvAEnwp97HFiBIxiHZxZU4B6u1HxhHfAl/pVbBvyJY3KLgKi4Ta4Z0CrukmsEdIr75EMCesUpcklAkjhVzglIFnPkKQEsMVfeFcAWS+SxAJFYKm8GXKRiTyFcmZBNWzABN3CWfKQYsCyuwQwcxMuxwuQST0KtkSkK0JzV7ADVWc0N0BSzA7TFrAALcXKAlTgpwFLcG2At7gzIIW4NyCWOBriwUbyCOdhn2Ku5sDEtvdzflOBJ+Y6P8y3AAKiEbWEE2+wHAAAAAElFTkSuQmCC') center no-repeat;
  cursor: pointer;
  outline: 0 none;
  box-shadow: none;
}

.booking-form-wrapper .remove-item:focus {
  border: 2px solid #b3b3b3;
}

.booking-form-wrapper .remove-item[disabled],
.booking-form-wrapper .remove-item[disabled]:hover {
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0.15;
  cursor: default;
}

.booking-form-wrapper .remove-item:hover {
  background-color: #fdc200;
}

.booking-form-wrapper .ticket-view {
  min-width: 270px;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  background: #e0e8fe;
  color: #666666;
  font-size: 15px;
  text-align: center;
}

.booking-form-wrapper .ticket-view .left-decor {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 16px;
  border-right: 1px dashed #666666;
  z-index: 1;
}

.booking-form-wrapper .ticket-view .left-decor:before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #666666;
}

.booking-form-wrapper .ticket-view .right-decor {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 16px;
  border-left: 1px dashed #666666;
  z-index: 1;
}

.booking-form-wrapper .ticket-view .right-decor:before {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #666666;
}

.booking-form-wrapper .ticket-view p {
  margin: 0;
  line-height: 20px;
}

.booking-form-wrapper .ticket-view p.name {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.booking-form-wrapper .choise-number {
  border: 0 none;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  /* Для Chrome */
  /* Для Firefox */
}

.booking-form-wrapper .choise-number>* {
  display: inline-block;
  vertical-align: top;
}

.booking-form-wrapper .choise-number button {
  width: 50px;
  height: 50px;
  border-radius: 2px;
  border: 0 none;
  font-size: 23px;
  font-weight: bold;
  color: #b3b3b3;
  background: #808080;
  cursor: pointer;
  outline: 0 none;
  box-shadow: none;
}

.booking-form-wrapper .choise-number button:focus {
  border: 2px solid #b3b3b3;
}

.booking-form-wrapper .choise-number button:hover {
  color: #fff;
  background: #fdac2a;
}

.booking-form-wrapper .choise-number button[disabled],
.booking-form-wrapper .choise-number button[disabled]:hover {
  background: #b3b3b3;
  cursor: default;
}

.booking-form-wrapper .choise-number input[type=number]::-webkit-inner-spin-button,
.booking-form-wrapper .choise-number input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.booking-form-wrapper .choise-number input[type=number] {
  -moz-appearance: textfield;
  width: 80px;
  height: 50px;
  margin: 0 3px;
  padding: 5px;
  font-size: 41px;
  font-weight: bold;
  color: #fff;
  background: transparent;
  font-family: inherit;
  border: 0 none;
  border-radius: 2px;
  text-align: center;
  outline: 0 none;
  box-shadow: none;
}

.booking-form-wrapper .choise-number input[type=number]:focus {
  border: 2px solid #b3b3b3;
}

.booking-form-wrapper .choise-number input[type=number]:focus {
  background: #b3b3b3;
}

.booking-form-wrapper .user-data {
  max-width: 530px;
  width: 100%;
  border: 0 none;
  border-spacing: 0;
  padding: 0;
  margin-bottom: 10px;
}

.booking-form-wrapper .user-data th,
.booking-form-wrapper .user-data td {
  vertical-align: middle;
  text-align-last: left;
  font-weight: normal;
  font-size: 15px;
  padding-bottom: 20px;
}

.booking-form-wrapper .user-data th input,
.booking-form-wrapper .user-data td input {
  width: 100%;
  height: 45px;
  border: 0 none;
  padding: 0 20px;
  outline: 0 none;
  box-shadow: none;
}

.booking-form-wrapper .user-data th input:focus,
.booking-form-wrapper .user-data td input:focus {
  border: 2px solid #b3b3b3;
}

.booking-form-wrapper .user-data th input:placeholder-shown,
.booking-form-wrapper .user-data td input:placeholder-shown {
  background: #b3b3b3;
}

.booking-form-wrapper .user-data th input:focus,
.booking-form-wrapper .user-data td input:focus {
  border: 0 none;
  background: #fff;
}

.booking-form-wrapper .user-data th input:not(:placeholder-shown):invalid,
.booking-form-wrapper .user-data td input:not(:placeholder-shown):invalid {
  background: #ffe8d5;
}

.booking-form-wrapper .user-data th input+.descr,
.booking-form-wrapper .user-data td input+.descr {
  display: none;
}

.booking-form-wrapper .user-data th .checkbox-agree,
.booking-form-wrapper .user-data td .checkbox-agree {
  display: inline-block;
  cursor: pointer;
  outline: 0 none;
  box-shadow: none;
}

.booking-form-wrapper .user-data th .checkbox-agree .checkbox,
.booking-form-wrapper .user-data td .checkbox-agree .checkbox {
  display: none;
}

.booking-form-wrapper .user-data th .checkbox-agree .checkbox-custom,
.booking-form-wrapper .user-data td .checkbox-agree .checkbox-custom {
  position: relative;
  width: 20px;
  height: 20px;
  background: #fff;
}

.booking-form-wrapper .user-data th .checkbox-agree .checkbox-custom,
.booking-form-wrapper .user-data td .checkbox-agree .checkbox-custom,
.booking-form-wrapper .user-data th .checkbox-agree .label,
.booking-form-wrapper .user-data td .checkbox-agree .label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.booking-form-wrapper .user-data th {
  min-width: 140px;
}

.booking-form-wrapper .descr {
  margin: 0;
  color: #b3b3b3;
  font-size: 13px;
}

.booking-form-wrapper .submit {
  overflow: hidden;
}

.booking-form-wrapper .submit .button,
.booking-form-wrapper .submit .result {
  float: right;
  margin-left: 40px;
}

.booking-form-wrapper .submit .button {
  min-width: 285px;
  border: 0 none;
  height: 50px;
  text-align: center;
  color: #fff;
  background: #fdac2a;
  border-radius: 2px;
  font-size: 23px;
  font-weight: bold;
  cursor: pointer;
  outline: 0 none;
  box-shadow: none;
}

.booking-form-wrapper .submit .button:focus {
  border: 2px solid #b3b3b3;
}

.booking-form-wrapper .submit .button:hover {
  background: #fdc200;
}

.booking-form-wrapper .submit .button[disabled],
.booking-form-wrapper .submit .button[disabled]:hover {
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0.3;
  cursor: default;
}

@media (max-width: 900px) {
  .booking-form-wrapper {
    padding: 0px 20px 20px;
  }

  .booking-form-wrapper .remove-item {
    top: 20px;
    right: 20px;
  }

  .booking-form-wrapper .booking-form.success>fieldset h1+p {
    display: none;
  }

  .booking-form-wrapper .booking-form.success .remove-item {
    right: 10px;
    margin: 0 auto;
  }

  .booking-form-wrapper .booking-form.success .choise-ticket {
    margin-top: 10px;
  }

  .booking-form-wrapper .booking-form.success .choise-ticket td.td-name {
    width: 100%;
    padding-right: 0;
  }

  .booking-form-wrapper .booking-form.success .choise-ticket td.td-number .number-wrapper {
    display: inline-block;
    min-width: 270px;
  }

  .booking-form-wrapper .booking-form>fieldset h1 {
    line-height: 1.2em;
  }

  .booking-form-wrapper .booking-form>fieldset.submit-wrapper {
    text-align: center;
  }

  .booking-form-wrapper .booking-form>fieldset.submit-wrapper p a {
    display: block;
    padding: 10px;
    margin: 0;
  }

  .booking-form-wrapper .booking-form .choise-ticket td {
    display: block;
    width: 100%;
    text-align: center;
  }

  .booking-form-wrapper .booking-form .choise-ticket td.td-name {
    width: 100%;
    padding-bottom: 30px;
    padding-right: 0;
  }

  .booking-form-wrapper .booking-form .choise-ticket td.td-number .number-wrapper .choise-number {
    float: none;
    margin: 0 auto 20px;
  }

  .booking-form-wrapper .booking-form .choise-ticket td.td-number .number-wrapper p {
    text-align: left;
  }

  .booking-form-wrapper .user-data {
    max-width: 100%;
  }

  .booking-form-wrapper .submit {
    display: table;
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }

  .booking-form-wrapper .submit .button,
  .booking-form-wrapper .submit .result {
    float: none;
    margin: 0;
  }

  .booking-form-wrapper .submit .result {
    display: table-caption;
    margin-bottom: 30px;
  }
}

@media (max-width: 550px) {

  .booking-form-wrapper .user-data th,
  .booking-form-wrapper .user-data td {
    display: block;
  }

  .booking-form-wrapper .user-data th {
    padding-bottom: 5px;
  }

  .booking-form-wrapper .user-data td input::-webkit-input-placeholder {
    color: transparent;
  }

  .booking-form-wrapper .user-data td input::-moz-placeholder {
    color: transparent;
  }

  .booking-form-wrapper .user-data td input:-moz-placeholder {
    color: transparent;
  }

  .booking-form-wrapper .user-data td input:-ms-input-placeholder {
    color: transparent;
  }

  .booking-form-wrapper .user-data td input+.descr {
    display: block;
    margin: 0;
    padding-top: 10px;
  }
}