body {
  color: #000;
  background: none;
}


.go-back-button {
  display: none;
}

.booking-form-wrapper {
  background: none;
  padding: 0;
}

.booking-form-wrapper .remove-item {
  top: 10px;
  background: #F0F2F3;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
  height: 30px;
}

.booking-form-wrapper .button.button--with-icon {
  font-size: 11px;
  color: #808080;
  background: #F0F2F3;
  text-transform: uppercase;
  padding: 0 15px;
  width: auto;
  height: 30px;
  line-height: 1;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.booking-form-wrapper .button.button--with-icon img {
  margin-right: 6px;
  vertical-align: sub;
  width: 12px;
  height: 12px;
}

.booking-form-wrapper .button.button--with-icon:disabled {
  cursor: default;
}

.booking-form-wrapper .button.button--with-icon:hover {
  background: #f9f9f9;
}

.booking-form-wrapper .button.button--with-icon:focus,
.booking-form-wrapper .button.button--with-icon:active {
  background-color: #e6e6e6;
}

.booking-form-wrapper .remove-item span {
  display: inline-block;
  margin-left: 6px;
}


.booking-form-wrapper .timer-counter-place {
  background-color: #f2f2f2;
  margin: -32px -32px 0;
  padding: 20px;
}

.booking-form-wrapper .booking-form {
  padding: 0;
  background: #fff;
}

.booking-form-wrapper .booking-form .choise-ticket.disabled {
  opacity: 0.5;
}

.booking-form-wrapper .booking-form .choise-ticket {
  margin-top: 40px;
}

.booking-form-wrapper .booking-form .choise-ticket td.td-number,
.booking-form-wrapper .booking-form .choise-ticket td.td-number .number-wrapper .price-descr {
  text-align: left;
}

.booking-form-wrapper .booking-form .choise-ticket td.td-number .number-wrapper {
  overflow: inherit;
}

.booking-form-wrapper .booking-form .choise-ticket td.td-number .number-wrapper .price-descr {
  color: #000;
}

.booking-form-wrapper .booking-form .choise-ticket td.td-number .number-wrapper .price-descr .price {
  font-size: 32px;
  font-family: "Arial Black", Arial;
  font-weight: 900;
}

.booking-form-wrapper .booking-form .choise-ticket td.td-number .number-wrapper .price-descr .price strong {
  font-size: 30px;
}

.booking-form-wrapper .booking-form .choise-ticket td {
  vertical-align: top;
}

.booking-form-wrapper .ticket-view .right-decor:before,
.booking-form-wrapper .ticket-view .left-decor:before {
  background-color: #fff;
}

.b-choise-ticket {
  display: flex;
  margin-top: 48px;
  justify-content: space-between;
  padding: 0 5px;
}

.booking-form-wrapper .booking-form>div fieldset {
  border: none;
}

.booking-form-wrapper .booking-form>div fieldset h1 {
  margin-top: 35px;
}

.booking-form-wrapper .booking-form>div fieldset h1+p {
  color: #000;
}

.number-title .kind-of-day {
  display: block;
  float: right;
  font-weight: normal;
  text-transform: uppercase;
  color: #f21822;
  font-size: 15px;
}

.number-title {
  font-weight: bold;
  margin-bottom: 20px;
  padding-right: 15px;
  color: #000;
  font-size: 21px;
}

.number-title span {
  font-size: 15px;
  line-height: 1;
  display: inline-block;
  width: 100%;
  font-weight: normal;
  margin-top: 5px;
}

.number-wrapper+.number-title {
  margin-top: 40px;
}

.booking-form-wrapper .submit .button[disabled],
.booking-form-wrapper .submit .button[disabled]:hover {
  background-color: #00c1ff;
}

.booking-form-wrapper .choise-number input[type=number] {
  color: #000;
  font-size: 30px;
  font-family: "Arial Black", Arial;
  font-weight: 900;
}

.booking-form-wrapper .ticket-view .ticket-content {
  display: inline-block;
  margin: -20px -32px 0 -32px;
  padding: 17px 0px 0 0px;
  cursor: pointer;
  width: 100%;
  min-height: 450px;
}

.booking-form-wrapper .ticket-view .ticket-content .ticket-price {
  text-align: left;
  font-size: 25px;
  line-height: 52px;
  margin-bottom: 5px;
  margin-top: 7px;
  font-family: "Arial Black", Arial;
  font-weight: 900;
  position: absolute;
  bottom: 0;
}

.booking-form-wrapper .ticket-view .ticket-content .ticket-description {
  color: #808080;
  font-size: 15px;
  line-height: 25px;
  width: 180px;
  margin: 0 auto 0 auto;
}

.booking-form-wrapper .ticket-view.ticket-icon-03 .ticket-content .ticket-description {
  width: 100%;
  display: inline-block;
}

.booking-form-wrapper .ticket-view .ticket-content .ticket-title {
  font-size: 25px;
  font-weight: bold;
  line-height: 33px;
  text-align: left;
  height: 38px;
}

.booking-form-wrapper .ticket-view {
  background-color: #fff;
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.25);
  color: #000;
  width: 100%;
  padding: 20px 20px 0 20px;
  margin-left: 5px;
  margin-right: 5px;
  min-width: 233px;
  cursor: pointer;
}

.booking-form-wrapper .ticket-view.label-sold .ticket-content,
.booking-form-wrapper .ticket-view.label-close .ticket-content {
  opacity: .2;
}

/* TICKET TYPES TABS  START*/
#ticketType01,
#ticketType02,
#ticketType03 {
  display: none;
}

.ticket-icon {
  width: 100%;
  height: 105px;
  background-repeat: no-repeat;
  background-position: 100%;
  margin-top: 23px;
}

.choise-ticket-wrapper .ticket-view {
  background-color: #fff;
}

.choise-ticket-wrapper .ticket-view.active:not(.label-sold):not(.label-close),
.choise-ticket-wrapper .ticket-view:not(.label-sold):not(.label-close):hover {
  background-color: #00c1ff;
  color: #fff;
}

.choise-ticket-wrapper .ticket-view.active:not(.label-sold):not(.label-close) .ticket-price,
.choise-ticket-wrapper .ticket-view.active:not(.label-sold):not(.label-close) .ticket-title,
.choise-ticket-wrapper .ticket-view:not(.label-sold):not(.label-close):hover .ticket-price,
.choise-ticket-wrapper .ticket-view:not(.label-sold):not(.label-close):hover .ticket-title {
  color: #000;
  background-color: #00c1ff;
}

.choise-ticket-wrapper .ticket-view.active:not(.label-sold):not(.label-close) .deg-value,
.choise-ticket-wrapper .ticket-view.active:not(.label-sold):not(.label-close) .ticket-description,
.choise-ticket-wrapper .ticket-view.active:not(.label-sold):not(.label-close):hover .deg-value,
.choise-ticket-wrapper .ticket-view.active:not(.label-sold):not(.label-close):hover .ticket-description,
.choise-ticket-wrapper .ticket-view:not(.label-sold):not(.label-close):hover .deg-value,
.choise-ticket-wrapper .ticket-view:not(.label-sold):not(.label-close):hover .ticket-description {
  color: #fff;
}

.choise-ticket-wrapper .choise-ticket.m-weekday {
  border-top: 1px solid #e5e5e5;
  padding-top: 40px;
}



/* TICKET TYPES TABS  START*/


.booking-form-wrapper .ticket-view .left-decor,
.booking-form-wrapper .ticket-view .right-decor {
  border-color: #fff
}

.booking-form-wrapper .ticket-view .left-decor,
.booking-form-wrapper .ticket-view .right-decor {
  border: none;
}

.booking-form-wrapper .ticket-view p.name {
  color: #fff;
}

.booking-form-wrapper .choise-number button:disabled {
  background-color: #F0F2F3;
}

.booking-form-wrapper .choise-number button {
  background-color: #F0F2F3;
  padding: 0 10px;
  border-radius: 3px;
}

.booking-form-wrapper .choise-number button img {
  vertical-align: middle;
  display: block;
}


.booking-form-wrapper .booking-form>div~fieldset {
  position: relative;
  border-top: 0 none;
  padding-top: 35px;
}

.booking-form-wrapper .booking-form>div~fieldset:before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: #e5e5e5;
}

.booking-form-wrapper .user-data th,
.booking-form-wrapper .user-data td {
  padding-left: 0;
}

.booking-form-wrapper .user-data td {
  padding-left: 5px;
}

.booking-form-wrapper .user-data th input:placeholder-shown,
.booking-form-wrapper .user-data td input:placeholder-shown {
  background-color: #F0F2F3;
  border-radius: 3px;
  border-color: #F0F2F3;
  padding-left: 18px;
  font-size: 13px;
  height: 50px;
}

.booking-form-wrapper .user-data th input,
.booking-form-wrapper .user-data td input {
  height: 50px;
}

.booking-form-wrapper .user-data td input {
  border: 1px solid rgb(204, 204, 204);
}

.booking-form-wrapper .user-data td input:focus {
  border: 1px solid #1ebcee;
}

.user-data td,
.booking-form-wrapper .booking-form>.user-data-wrapper,
.booking-form-wrapper .booking-form fieldset.submit-wrapper {
  margin-left: -5px;
  margin-right: 0;
  padding-left: 5px;
  padding-right: 0;
  text-align: left;
}

.booking-form-wrapper .booking-form>fieldset.submit-wrapper {
  padding-top: 10px;
}

.user-data label {
  color: #000;
  font-size: 15px;
  font-family: Arial;
}

.booking-form-wrapper .user-data {
  max-width: 600px;
  margin-bottom: 33px;
}

.user-data td,
.booking-form-wrapper .booking-form>.user-data-wrapper p {
  color: #808080;
  font-size: 13px;
  line-height: 20px;
}

.booking-form-wrapper .booking-form>.user-data-wrapper p {
  line-height: 20px;
  margin-top: -15px;
}

.booking-form-wrapper .booking-form .choise-ticket td.td-name {
  vertical-align: top;
  width: 270px;
}

.ticket-total-info {
  margin-top: 30px;
  text-align: left;
}

.ticket-total-info .row .title {
  width: 135px;
  width: 135px;
  display: inline-block;
  line-height: 28px;
  font-size: 15px;
}

.booking-form-wrapper .tickets-count+.tickets-price {
  margin-top: 28px;
}

.ticket-total-info .tickets-price .row .title {
  line-height: 35px;
}

.tickets-count,
.ticket-total-info .tickets-price {
  color: #1a1a1a;
}

.tickets-count .title{
  width: 140px;
  display: inline-block;
  font-size: 15px;
  line-height: 28px;
}
.tickets-count {
  font-size: 17px;
  margin-top: 45px;
}

.ticket-total-info .tickets-price {
  font-size: 26px;
  margin-top: 10px;
  font-weight: bold;
  line-height: 25px;
}

.ticket-total-info .tickets-price .title {
  font-weight: normal;
  font-size: 21px;
}

.ticket-total-info .tickets-price .title,
.tickets-count .title {
  color: #808080;
}

.tickets-count .tickets-count__valid span {
  color: #f21822;
  text-transform: uppercase;
}

.booking-form-wrapper .booking-form .choise-ticket-wrapper {
  padding-top: 0;
  text-align: left;
  overflow: hidden;
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
}

.booking-form-wrapper .booking-form .choise-ticket-wrapper h1 {
  padding: 0 0 0 20px;
  font-size: 31px;
  line-height: 35px;
  color: #000;
}

.choise-ticket-comment {
  color: #808080;
  font-size: 15px;
  font-family: Verdana;
  margin-top: 31px;
  text-transform: uppercase;
  padding: 0 0 0 20px;
}

.booking-form-wrapper .booking-form.success .remove-item {
  height: auto;
  margin-top: 10px;
  right: 15px;
  padding: 10px;
}

.booking-form-wrapper .booking-form.success .submit-wrapper,
.booking-form-wrapper .booking-form.success .choise-ticket-wrapper h1,
.booking-form-wrapper .booking-form.success .choise-ticket-wrapper .choise-ticket-comment,
.booking-form-wrapper .booking-form.success .choise-ticket-wrapper .submit-wrapper {
  padding-left: 0;
  margin-left: 0;
}

.booking-form-wrapper .booking-form.success .submit-wrapper {
  padding-top: 0;
  border-top: 1px solid #e5e5e5;
}

.booking-form-wrapper .booking-form.success .submit-wrapper .submit .ticket-total-info .ticket-info-description .red {
  color: #f21822;
  text-transform: uppercase;
}

.booking-form-wrapper .booking-form.success .submit-wrapper .tickets-count+.tickets-price {
  margin-top: 13px;
}

.booking-form-wrapper .booking-form.success .submit-wrapper .b-phone img {
  width: 27px;
  height: 27px;
}

.booking-form-wrapper .booking-form.success .submit-wrapper .b-phone p span {
  margin-right: 10px;
}

.booking-form-wrapper .booking-form.success .submit-wrapper .b-phone {
  margin-top: 30px;
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
}

.booking-form-wrapper .booking-form.success .submit-wrapper .submit .ticket-total-info {
  margin-top: 1px;
}

.booking-form-wrapper .booking-form.success .submit-wrapper .submit .ticket-total-info .row .title {
  width: 155px;
}

.booking-form-wrapper .booking-form.success {
  padding: 0 15px;
}

.booking-form-wrapper .booking-form.success .choise-ticket-wrapper .choise-ticket-comment {
  margin-top: 12px;
  font-size: 17px;
  font-family: Arial;
  color: #000;
}

.booking-form-wrapper .booking-form.success .choise-ticket-wrapper h1 {
  margin-top: 13px;
  letter-spacing: -0.5px;
}

.booking-form-wrapper .booking-form.success .choise-ticket-wrapper {
  padding-bottom: 37px;
}

.booking-form-wrapper .booking-form.success .submit {
  display: block;
}

.booking-form-wrapper .booking-form.success .choise-ticket-wrapper .choise-ticket-comment {
  text-transform: initial;
}

.choise-ticket-wrapper .vdp-datepicker {
  color: #000;
  float: left;
}
.choise-ticket-wrapper .vdp-datepicker__calendar .cell {
  width: 40px;
  height: 40px;
}
.choise-ticket-wrapper .vdp-datepicker__calendar .cell:hover,
.choise-ticket-wrapper .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, 
.choise-ticket-wrapper .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, 
.choise-ticket-wrapper .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
  border-color: transparent;
}
.choise-ticket-wrapper .vdp-datepicker__calendar .disabled {
  color: #a4a4a4;
}
.choise-ticket-wrapper .vdp-datepicker+.td-number-inner {
  float: left;
  margin-left: 60px;
  margin-top: 10px;
}

.choise-ticket-wrapper .vdp-datepicker__calendar .cell {
  border-radius: 50%;
}

.choise-ticket-wrapper .vdp-datepicker__calendar .cell:nth-child(7n+6),
.choise-ticket-wrapper .vdp-datepicker__calendar .cell:nth-child(7n+7) {
  color: red;
  font-weight: bold;
}

.vdp-datepicker__calendar .cell.disabled:nth-child(7n+6),
.vdp-datepicker__calendar .cell.disabled:nth-child(7n+7) {
  color: #eb8a8b;
}

.choise-ticket-wrapper .vdp-datepicker__calendar .cell.selected {
  background-color: #dce0e4 !important;
  font-weight: bold;
}

.choise-ticket-wrapper .vdp-datepicker__calendar {
  border: none;
}
.choise-ticket-wrapper .vdp-datepicker__calendar .cell.day-header {
  font-size: 10px;
  font-weight: bold;
}
.choise-ticket-wrapper .vdp-datepicker__calendar header {
  margin-bottom: 17px;
}

@media (max-width: 740px) {
  .booking-form-wrapper .booking-form div fieldset h1 {
    font-size: 20px;
  }
}

/* submit block start */
.booking-form-wrapper .booking-form fieldset.submit-wrapper p,
.booking-form-wrapper .booking-form fieldset.submit-wrapper p a {
  color: #808080;
  font-size: 13px;
}

.booking-form-wrapper .booking-form fieldset.submit-wrapper p.result {
  color: #666666;
}

.submit .ticket-total-info {
  margin-top: 2px;
}

.booking-form-wrapper .submit .button {
  background: #00c1ff;
}

.booking-form-wrapper .submit .button:hover {
  background: #38cfff;
}

.booking-form-wrapper .submit .button:active,
.booking-form-wrapper .submit .button:focus {
  background: #00a5ff;
}

.booking-form-wrapper .submit .button {
  width: 100%;
  min-width: 100%;
}

.booking-form-wrapper .submit .ticket-total-info {
  text-align: left;
}

.booking-form-wrapper .submit .ticket-total-info+.button {
  margin-top: 20px;
}

.booking-form-wrapper .booking-form fieldset.submit-wrapper p span {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.booking-form-wrapper .booking-form fieldset.submit-wrapper p a {
  padding-left: 0;
  margin-left: 0;
  display: inline-block;
}
.number-wrapper.block-vip {
  float: left;
}
/* submit block end */

.smart .choise-ticket-wrapper.ticketType04 .choise-ticket {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.smart .b-choise-ticket {
  margin-top: 20px;
}
.smart .choise-ticket .vdp-datepicker+.td-number-inner {
  margin-top: 60px;
  margin-left: 0;
  text-align: center;
}
.smart .booking-form-wrapper .booking-form .choise-ticket td.td-number .vdp-datepicker+.td-number-inner .number-wrapper .price-descr{
  text-align: center;
  width: 100%;
}
.smart .booking-form-wrapper .booking-form .choise-ticket td.td-number .vdp-datepicker+.td-number-inner .number-wrapper .choise-number{
  margin-bottom: 5px;
  margin-right: 0;
  width: 100%;
}
.smart .number-title.block-vip {
  margin-bottom: 5px;
}
.smart .number-wrapper.block-vip {
  font-size: 13px;
  color: #808080;
  display: inline-block;
  margin-left: 40px;
}
.smart #goBackButton {
  padding-left: 30px;
  padding-right: 35px;
}
.smart .booking-form-wrapper .ticket-view .ticket-content{
  padding-top: 30px;
  padding-bottom: 12px;
}
.smart .booking-form-wrapper .ticket-view .ticket-content .ticket-price{
  padding-left: 15px;
  font-size: 36px;
  margin-bottom: 15px;
}

.smart .booking-form-wrapper .ticket-view .ticket-content .ticket-description{
  font-size: 18px;
  max-width: 385px;
  width: auto;
  margin-top: 16px;
  margin-bottom: 90px;
}
.smart .booking-form-wrapper .ticket-view .ticket-content{
  min-height: 350px;
}
.booking-form-wrapper .remove-item {
  background-color: #F0F2F3!important;
  min-width: auto!important;
  font-weight: normal!important;
}

@media (max-width: 658px) {
  .smart .booking-form-wrapper .ticket-view .ticket-content .ticket-description{
    line-height: 22px;
  }
  .smart .booking-form-wrapper .ticket-view .ticket-content .ticket-icon{
    margin-top: 0;
    height: 90px;
  }
  
  .smart .choise-ticket .vdp-datepicker+.td-number-inner {
    margin-top: 36px;
  }
  .smart .number-title.block-vip {
    margin-bottom: 10px;
    margin-top: 50px;
    font-size: 16px;
  }
  .smart .booking-form-wrapper .booking-form .choise-ticket td.td-number .vdp-datepicker+.td-number-inner .number-wrapper .price-descr {
    margin-top: 18px;
  }
  .smart .booking-form-wrapper .ticket-view .ticket-content .ticket-description{
    margin-bottom: 50px;
  }
  .smart .choise-ticket-wrapper.ticketType04 .choise-ticket {
    margin-top: 15px;
  }
  .smart .booking-form-wrapper .ticket-view .ticket-content .ticket-price{
    font-size: 28px;
    padding-left: 0;
    bottom: 7px;
  }
  .smart .booking-form-wrapper .ticket-view {
    padding: 5px; 
  }
  .smart .booking-form-wrapper .ticket-view .ticket-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 58px;
  }
  .smart .submit-wrapper .tickets-count .row {
    margin-bottom: 8px;
  }
  .smart .submit-wrapper .tickets-count .row .title {
    line-height: 33px;
  }
  .smart .submit-wrapper .tickets-count .row .title,
  .smart .submit-wrapper .submit .tickets-price .row .title {
    width: 100%;
  }
  .smart .submit-wrapper .submit .tickets-price .row .tickets-count__type strong {
    font-size: 21px;
  }
  .smart .booking-form-wrapper .submit .ticket-total-info+.button{
    margin-top: 38px;
  }
  .smart .booking-form-wrapper .submit .row {
    margin-bottom: 6px;
  }
  .smart .booking-form-wrapper .submit {
    margin-top: 20px;
  }
  .smart .booking-form-wrapper .remove-item {
    position: inherit;
    background-color: #F0F2F3;
    width: auto;
    min-width: auto;
    font-size: 11px;
    font-weight: normal;
  }
  .smart .booking-form-wrapper .submit-wrapper .tickets-count{
    margin-top: 24px;
  }
  .smart .booking-form-wrapper .submit-wrapper .b-phone img {
    width: 28px;
    height: 28px;
  }
  .smart .booking-form-wrapper .submit .span-divider {
    display: inline-block;
    width: 100%;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (min-width: 658px) {
  .smart .booking-form-wrapper .ticket-view .ticket-content .ticket-title{
    font-size: 31px;
    padding-left: 15px;
  }
  .span-divider {
    display: none;
  }
  .smart .booking-form-wrapper .ticket-view .left-decor:before{
    height: 50px;
    width: 50px;
    left: -25px;
    background-size: contain;
    margin-top: -28px;
  }
  .smart .booking-form-wrapper .ticket-view .ticket-content .ticket-icon{
    margin-top: 30px;
    height: 97px;
  }
  .smart .booking-form-wrapper .ticket-view .right-decor:before{
    height: 50px;
    width: 50px;
    right: -25px;
    background-size: contain;
    margin-top: -28px;
  }
  .smart .booking-form-wrapper .booking-form fieldset.submit-wrapper {
    padding-left: 15px;
  }
  .smart .booking-form-wrapper .submit{
    padding-right: 15px;
  }
  .booking-form-wrapper .booking-form .td-number .number-wrapper .price-descr,
  .booking-form-wrapper .booking-form .td-number .number-wrapper .choise-number {
    float: left;
  }

  .booking-form-wrapper .booking-form .td-number .number-title {
    width: 100%;
    float: left;
  }

  .user-data td,
  .booking-form-wrapper .booking-form>.user-data-wrapper,
  .booking-form-wrapper .booking-form fieldset.submit-wrapper {
    padding-left: 45px;
  }

  .user-data td,
  .booking-form-wrapper .booking-form>.user-data-wrapper,
  .booking-form-wrapper .booking-form fieldset.submit-wrapper {
    padding-top: 16px;
  }

  /* submit block start */
  .booking-form-wrapper .submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 32px;
    padding-right: 30px;
  }

  .booking-form-wrapper .user-data th,
  .booking-form-wrapper .user-data td {
    padding-bottom: 20px;
  }

  .booking-form-wrapper .submit .button {
    width: auto;
  }

  .booking-form-wrapper .submit .ticket-total-info+.button {
    margin-top: 0;
    margin-left: 35px;
    margin-bottom: 10px;
    font-size: 16px;
  }

  .booking-form-wrapper .booking-form fieldset.submit-wrapper p {
    text-align: left;
  }

  .booking-form-wrapper .booking-form fieldset.submit-wrapper p a {
    padding: 0;
  }

  .booking-form-wrapper .submit .button {
    min-width: 285px;
  }

  /* submit block end */
  .booking-form-wrapper .booking-form .choise-ticket td.td-number .number-wrapper .choise-number {
    margin-left: 0;
    float: left;
    margin-right: 20px;
  }

  .booking-form-wrapper .booking-form .choise-ticket td.td-number .number-wrapper .price-descr {
    text-align: left;
    color: #000;
    height: 50px;
    line-height: 50px;
    margin: 0;
  }

  .booking-form-wrapper .booking-form .choise-ticket td.td-number {
    padding-left: 40px;
  }

  .booking-form-wrapper .booking-form .choise-ticket td.td-number .number-title {
    color: #000;
    font-size: 21px;
    font-weight: bold;
  }
}

/* SMART */

.smart .b-choise-ticket {
  flex-direction: column;
   margin-top: 17px;
}
.smart .booking-form-wrapper .booking-form .choise-ticket-wrapper h1,
.smart .choise-ticket-comment {
  padding-left: 5px;
  padding-right: 5px;
  line-height: 39px;
  margin-bottom: 0;
}

.smart .choise-ticket-comment {
  height: 30px;
}

.smart .go-back-button {
  display: none;
}

.smart .booking-form-wrapper .booking-form .choise-ticket td.td-number .number-title {
  padding-right: 5px;
}

.smart .goback .choise-ticket-comment {
  text-align: right;
  margin-top: 10px;
}

.smart .goback .choise-ticket-comment .ticket-comment__text {
  display: none;
}

.smart .goback .go-back-button {
  display: inline-block;
}

.smart .booking-form-wrapper .ticket-view {
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
}
